img{
    transition: transform 0.2s ease;
    border-style: solid;
    border-width: 2px;
    color: black;
}
img:hover{
    transform: scale(1.5);
    border-style: solid;
    border-width: 2px;
    color: black;
}
body{
    font-size: 150%;
    margin-left:4%; 
    background-image: url("images/background.png");

}
p{
    background-color: white;
    border-style: solid;
    border-width: 2px;
    color: black;  
    margin-right:5%;
}
h1{
    font-size: 200%;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    color: black; 
    margin-left:30%;   
    margin-right:30%;  
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.images{
    margin-left: 4%;

}

.nav{
    margin-left: 2%;
    margin-top: 3%;
    border-style: solid;
    border-width: 2px;
    color: black;
    background-color: white;
    text-align: left;

}