img{
    transition: transform 0.2s ease;
    border-style: solid;
    border-width: 2px;
    color: black;
}
img:hover{
    transform: scale(1.4);
    border-style: solid;
    border-width: 2px;
    color: black;
}
body{
    font-size: 150%;
    margin-left:4%; 
    margin-right: 4%;
    background-size: cover;
    background-image: url("images/background.png");

}
p{
    background-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    color: black; 
}
h1{
    font-size: 200%;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    color: black; 
    margin-left:20%;   
    margin-right:20%;  
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.image_div{
    text-align: center;
    box-sizing: border-box;
    border-style: solid;
    color: black;
    background-color: rgba(245, 245, 245, 60%);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left:  15%;
    margin-right: 15%;

}

.images{
    max-width: 30%;
    width: 100%;
    height: auto;
}

.nav{
    height: 5%;
    width: 5%;
    margin-left: 2%;
    margin-top: 3%;
    border-style: solid;
    border-width: 2px;
    color: rgb(63, 63, 63);
    background-color: white;
    text-align: left;

}

@media only screen and (max-width: 768px){

    img:hover{
        transform: scale(1.2);
    }
    
    .image_div{
        margin-left: 12%;
        margin-right: 12%;
    
    }

    .images{
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    
    .nav{
        height: 15%;
        width: 15%;
    }
    
}




